<%= link_to "New tweet", new_tweet_path %>
<% for tweet in @tweets %>
  <div style="padding: 10px; border: 1px solid #ddd; margin: 10px; border-radius: 5px;">
    <div class="">
      Content
    </div>
    <div class="">
      <%= tweet.content %>
    </div>
    <div style="padding: 20px"></div>
    <div class="">
      Username
    </div>
    <div class="">
      <%= tweet.user.name %>
    </div>
    <div style="padding: 20px"></div>
    <div class="">
      Tags
    </div>
    <div class="">
      <% for tag in tweet.tags %>
        <%= tag.label %>
      <% end %>
    </div>
    <div style="padding: 20px"></div>
    <div class="">
      Mentions
    </div>
    <div class="">
      <% for usertag in tweet.usertags %>
        <%= usertag.user.username %>
      <% end %>
    </div>
    <%= link_to "Edit", edit_tweet_path(tweet) %>
    <% if tweet.user == @current_user %>
      <%= link_to "Delete", delete_tweet_path(tweet), method: :delete %>
    <% end %>
  </div>
<% end %>
